#Dependencies
node_modules/
.venv/
venv/

#Build outputs
dist/
build/
build_debug/
build_markmos/
build-*/
*.o
*.a
*.so
*.obj
*.exe
*.out

#IDE
.vscode/
.idea/
*.swp
*.swo

#OS
.DS_Store
Thumbs.db

#Logs
*.log

#C / C++
*.d
*.d.*
*.pid
*.seed
*.su
*.idb
*.pdb

#CMake
CMakeUserPresets.json
**/CMakeFiles/
**/CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

#Shaders
*.spv

#Assets(auto - generated)
assets.cache/

#Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserdatad/
*.xccurrentversion

.clangd

/engine/master_prompt*.md
